#menu-footer-menu {
	li {
		position: relative;

		&::after {
			content: '|';
			position: absolute;
			right: -22px;
		}

		&:last-child {
			&::after {
				content: '';
			}
		}

		@media (max-width: 1024.1px){
			padding-bottom: 15px;

			&::after {
				content: '';
			}
		}
	}
}

.btn-reservar {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}